{% extends 'base.html' %}
{% load static %}

{% block menu %}	

<div id="menu">
			<ul>
				<li class="first active">
					<a href="http://127.0.0.1:8000/user">User Home</a>
				</li>
				<li>
					<a href="#">Manage Order </a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/user/settings/">Settings</a>
				</li>
<!-- 				<li><a >More</a>
				<ul>
<li><a href="" >Edit Profile</a></li>
<li><a href="" >Change Password</a></li>
<li><a href="" >View Notifications</a></li>
<li><a href="" >Launch Feedbacks</a></li>
</ul>
</li> -->
				<li>
					<a href="http://127.0.0.1:8000/login/">Logout</a>
				</li>
				<!-- <li>
					<a href="http://127.0.0.1:8000/register/">Register</a>
				</li> -->
				
			</ul><br class="clearfix" />
		</div>


{% endblock %}	



{% block content %}
<center>
<h2>Welcome to Book My Meal</h2>
<h3>User Panel</h3>
</center>
{% endblock %}	














