

{% extends 'base.html' %}
{% load static %}

		{% block menu %}
		<div id="menu">
			<ul>
				<li class="first active">
					<a href="http://127.0.0.1:8000/myadmin/">Home</a>
				</li>
				<li>
					<a href="#">View User</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/myadmin/adminmanage/">Manage Option</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/myadmin/adminsettings/">Settings</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/login/">Logout</a>
				</li>
				
			</ul><br class="clearfix" />
		</div>
		{% endblock %}


{% block content %}


<style type="text/css">

#link{

	height: 20px;
	width:300px;
	border-style: solid;
	padding: 10px;
	margin-bottom:5px;
	padding-bottom: 10px;
	text-align: center;
	border-radius: 5px;
}


#link:hover{
	background: white;
	
}
</style>

<center>
<h2>Settings</h2>


<h3 id="link"><a href="" style="text-decoration: none ;color:green">Edit Profile</a></h3>
<br>
<h3 id="link"><a href="" style="text-decoration: none ;color:green">Change Password</a></h3>

<br>
<h3 id="link"><a href="" style="text-decoration: none ;color:green">Launch Notifications</a></h3>

<br>
<h3 id="link"><a href="" style="text-decoration: none ;color:green">View Feedbacks</a></h3>


<br>
<h3 id="link"><a href="http://127.0.0.1:8000/login/" style="text-decoration: none ;color:green ;margin-bottom: 10px;" >Logout</a></h3>

</center>



{% endblock %}	




























